<header class="header header-bg">
    <div class="header__container">

        <nav class="header__menu menu">
            <a href="./index.html" class="header__logo logo ">
                <svg width="24" height="24">
                    <use href="./images/sprite.svg#film" />
                </svg>
                <span class="logo__name">Filmoteka</span>
            </a>

            <ul class="menu__list">
                <li class="menu__item">
                    <a href="./index.html" class="menu__link">Home</a>
                </li>
                <li class="menu__item">
                    <a href="./my-library.html" class="menu__link menu__link--active">My library</a>
                </li>

            </ul>

        </nav>
        <ul class="library__btn-list">
            <li class="btn-list__item">
                <button type="button" class="btn btn__library--active" id="btn__watched">
                    watched
                </button>
            </li>
            <li class="btn-list__item">
                <button type="button" class="btn" id="btn__queue">queue</button>
            </li>
        </ul>

    </div>
</header>
